@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <h2>Your role is - Admin</h2>
        }
        else if (User.IsInRole("Manager"))
        {
            <h2>Your role is - Manager</h2>
        }
        else
        {
            <h2>Your role is - User</h2>
        }
    }
    <p>
        Welcome to our City Services website, your one-stop destination for all the information and assistance you need to make the most of your city.
        We understand that living in a city can be both exciting and overwhelming. That's why we have created this website to provide you with easy access to all the services and resources you need to live, work and play in our city.
        Our website is designed to be informative and interactive, with features that allow you to report issues or request services directly from your computer or mobile device. You can also stay up-to-date on the latest news and developments in our city through our blog and social media channels.
        At the heart of our city is a diverse and vibrant community, and we are committed to providing the highest quality services to all our residents. We strive to make our city a welcoming and inclusive place, and our website is just one of the ways we are working to achieve this goal.
        Thank you for visiting our City Services website. We hope you find it helpful and informative, and we welcome your feedback and suggestions as we continue to improve our services for our community.
    </p>

</div>
